In [ ]:
#key data structure are Series(one dimensional data) & dataframe(tabular data)
""" pandas operations
1. slicing
2. merging&joining
3. Concatenate
4. changing the index
5. changing column headers
6. data murging """

In [3]:
#Series(1d data structure)
"""has various data structures such as integers, 
floats,strings,python objects(list,dict...)"""
"""created using 3 forms of inputs
1.Scalar values/constants
2. Dict
3. NDarray"""
"""Index used with series, for dataframe columns
and index(for rows)are used"""
import pandas as pd
import numpy as np
data=[1,4,6,8,4]#passing scala values
series=pd.Series(data)#panda Sries function pass data to view as a series
print(series)
print(data)

0    1
1    4
2    6
3    8
4    4
dtype: int64
[1, 4, 6, 8, 4]

In [36]:
series=pd.Series(8,index=[1,2,3,9,4])#passing a scalar value in series
series

1    8
2    8
3    8
9    8
4    8
dtype: int64

In [9]:
data=[1,4,6,8,4]
s=pd.Series(data,index=[50,60,70,80,90])
print(s)
#data=[1,4,6,8,4]
s=pd.Series([1,4,6,8,4],index=[50,60,70,80,90])
print(s)

50    1
60    4
70    6
80    8
90    4
dtype: int64
50    1
60    4
70    6
80    8
90    4
dtype: int64

In [6]:
data={'city':['Nairobi','New Delhi','London'],
      'county':['Kenya','India','England']
     }#Passing dictionary object to series function of pandas
series=pd.Series(data)
print(series)

city      [Nairobi, New Delhi, London]
county         [Kenya, India, England]
dtype: object

In [7]:
data=[[2,5],[1,4,7,9]]#Creating a 2d array in python
series=pd.Series(data)
print(series)

0          [2, 5]
1    [1, 4, 7, 9]
dtype: object

In [33]:
data={'a':1,'b':5,'e':6,'d':7}

series=pd.Series(data,index=['a','e','c','d','b'])
series

a    1.0
e    6.0
c    NaN
d    7.0
b    5.0
dtype: float64

In [43]:
#retriving data froma series
series=pd.Series(data,index=['a','e','c','d','b'])
print(series[0])
print(series['e'])

1.0
6.0
d    7.0
b    5.0
dtype: float64

In [46]:
series=pd.Series(data,index=['a','e','c','d','b'])
print(series[2:])#print all excluding the 1st 2
print(series[:2])#print the 1st 2

c    NaN
d    7.0
b    5.0
dtype: float64
a    1.0
e    6.0
dtype: float64

In [48]:
print(series[-3:])#printing the last 3
print(series[['e','c','d']])#accessing multiple elements

c    NaN
d    7.0
b    5.0
dtype: float64
e    6.0
c    NaN
d    7.0
dtype: float64

In [55]:
#dataframes(multidmensional array with rows and columns)
"""created from the following inputs
1.list and a list of lists
2.dict
3.Series
4. numpy ndarray
5. another Dataframe"""

import pandas as pd
data1=[10,11,12,13]#dataframe from a single list
data2=[[2,3],[3,4]]#dataframe from a list of lists
data3=[['mal',1],['cerah',20],['tibe',30]]
df1=pd.DataFrame(data1)
df2=pd.DataFrame(data2)
df3=pd.DataFrame(data3)
df4=pd.DataFrame(data3,columns=['Name','Age'],dtype=float)
print(df1)
print('\r')
print(df2)
print('\r')
print(df3)
print('\r')
print(df4)

    0
0  10
1  11
2  12
3  13

   0  1
0  2  3
1  3  4

       0   1
0    mal   1
1  cerah  20
2   tibe  30

    Name   Age
0    mal   1.0
1  cerah  20.0
2   tibe  30.0

In [62]:
#creating dataframe form a dict of ndarray/list
data={'apples':[1,2,3],
      'mangos':[12,13,15]}
df=pd.DataFrame(data)
print(df)
print('\r')
data1={'city':['Nairobi','New Delhi','London'],
      'county':['Kenya','India','England']
     }#Passing dictionary object to Dataframe function of pandas
df=pd.DataFrame(data1)
print(df)
print('\r')
data2={'Name':['mal','cerah','tibe','Tom', 'Jack', 'Steve', 'Ricky'],
      'Age':[1,20,30,28,34,29,42]}
df=pd.DataFrame(data2)
print(df)
print('\r')
data2={'Name':['mal','cerah','tibe','Tom', 'Jack', 'Steve', 'Ricky'],
      'Age':[1,20,30,28,34,29,42]}
df=pd.DataFrame(data2,index=['row0','row1','row2',
                             'row3','row4','row5','row6'])
#in dataframe, index paramter assigns a name to each row
print(df)

   apples  mangos
0       1      12
1       2      13
2       3      15

        city   county
0    Nairobi    Kenya
1  New Delhi    India
2     London  England

    Name  Age
0    mal    1
1  cerah   20
2   tibe   30
3    Tom   28
4   Jack   34
5  Steve   29
6  Ricky   42

       Name  Age
row0    mal    1
row1  cerah   20
row2   tibe   30
row3    Tom   28
row4   Jack   34
row5  Steve   29
row6  Ricky   42

In [71]:
#creating a dataframe from a list of dicts
data=[{'a':1,'b':2},{'a':4,'b':5,'c':6}]
df=pd.DataFrame(data)
print(df)
print('\r')
data1=[{'a':1,'b':2},{'a':4,'b':5,'c':6}]
df=pd.DataFrame(data1,index=['row0','row2'])#passing into a dataframe with row indices
print(df)
print('\r')
data2=[{'a':1,'b':2},{'a':4,'b':5,'c':6}]
df=pd.DataFrame(data2,index=['row0','row2'],
                columns=['a','b','num3'])#passing into a dataframe with row indices and column indices
print(df)

   a  b    c
0  1  2  NaN
1  4  5  6.0

      a  b    c
row0  1  2  NaN
row2  4  5  6.0

      a  b  num3
row0  1  2   NaN
row2  4  5   NaN

In [76]:
#creating a dataframe from a dict of Series
data={'one':pd.Series([1,2,3],index=['a','b','c'],dtype=float),
     'two':pd.Series([4,5,6,7],index=['a','b','c','d'])}
df=pd.DataFrame(data)
print(df)

   one  two
a  1.0    4
b  2.0    5
c  3.0    6
d  NaN    7

In [34]:
nos=list(range(5))
nos

[0, 1, 2, 3, 4]

In [28]:
import pandas as pd
import numpy as np
nos1=list(range(len(6)))

TypeError: object of type 'int' has no len()

In [ ]:
#column selection, addition and deletion

In [76]:
data={'one':pd.Series([1,2,3],index=['a','b','c'],dtype=float),
     'two':pd.Series([4,5,6,7],index=['a','b','c','d'])}
df=pd.DataFrame(data)
print(df['one'])#single column selection,returning a Series
print('\r')
print(df[['one']])#single column selection,returning a Dataframe
print('\r')
print(df['two'])
print('\r')
data1={'one':pd.Series([1,2,3],index=['a','b','c'],dtype=float),
     'two':pd.Series([4,5,6,7],index=['a','b','c','d'])}
df=pd.DataFrame(data)
df['three']=pd.Series([10,11,12],index=['a','b','d'])#adding a new element in an existing dataframe
print(df)
print('\r')
df['four']=df['one']+df['three']#adding new column using existing column in dataframe
print(df)
print('\r')
print(df[['one','three','four']])#multiple column selection
print('\r')
data={'one':pd.Series([1,2,3],index=['a','b','c'],dtype=float),
     'two':pd.Series([4,5,6,7],index=['a','b','c','d']),
     'three':pd.Series([10,11,12],index=['a','b','d'])}
df=pd.DataFrame(data)
print(df)
print(df[['one','three']])
print('\r')
del df['one']#deleting using del method
print(df)
print('\r')
df.pop('two')#deleting using pop functon
print(df)

a    1.0
b    2.0
c    3.0
d    NaN
Name: one, dtype: float64

   one
a  1.0
b  2.0
c  3.0
d  NaN

a    4
b    5
c    6
d    7
Name: two, dtype: int64

   one  two  three
a  1.0    4   10.0
b  2.0    5   11.0
c  3.0    6    NaN
d  NaN    7   12.0

   one  two  three  four
a  1.0    4   10.0  11.0
b  2.0    5   11.0  13.0
c  3.0    6    NaN   NaN
d  NaN    7   12.0   NaN

   one  three  four
a  1.0   10.0  11.0
b  2.0   11.0  13.0
c  3.0    NaN   NaN
d  NaN   12.0   NaN

   one  two  three
a  1.0    4   10.0
b  2.0    5   11.0
c  3.0    6    NaN
d  NaN    7   12.0
   one  three
a  1.0   10.0
b  2.0   11.0
c  3.0    NaN
d  NaN   12.0

   two  three
a    4   10.0
b    5   11.0
c    6    NaN
d    7   12.0

   three
a   10.0
b   11.0
c    NaN
d   12.0

In [70]:

#Rows selection, addition and deletion

In [33]:
#loc[] and iloc are used whenever there is row selection 
#loc[]/iloc[] method results to a Series with labels as column names of dataframe
data1={'one':pd.Series([1,2,3],index=['a','b','c'],dtype=float),
     'two':pd.Series([4,5,6,7],index=['a','b','c','d'])}
df=pd.DataFrame(data1)
print(df)
print('\r')
print(df.loc['b'])#selection of row 'b' by its name
print('\r')
print(df.iloc[2])#selection of row 'b' by its integer location
print('\r')
df['three']=pd.Series([5,3,2,1],index=['a','b','c','d'])
df  #adding a column
df=pd.DataFrame([[1,2],[3,4]],columns=['a','b'],index=['row0','row1'])
df1=pd.DataFrame([[5,6],[7,8]],columns=['a','b'])
df=df.append(df1)#adding a row
print(df)
print('\r')
df=df.drop(1)#deletion/dropping of a row using its row label
print(df)
print('\r')
df=df.drop('row1')
#df=df.loc['row0'].rename('key')
print(df)

   one  two
a  1.0    4
b  2.0    5
c  3.0    6
d  NaN    7

one    2.0
two    5.0
Name: b, dtype: float64

one    3.0
two    6.0
Name: c, dtype: float64

      a  b
row0  1  2
row1  3  4
0     5  6
1     7  8

      a  b
row0  1  2
row1  3  4
0     5  6

      a  b
row0  1  2
0     5  6

In [41]:
#slicing(selection of multiple rows) of rows using : operator
"""slicing is also called subset selection"""
import pandas as pd
data1={'one':pd.Series([1,2,3],index=['a','b','c'],dtype=float),
     'two':pd.Series([4,5,6,7],index=['a','b','c','d'])}
df=pd.DataFrame(data1)
print(df[1:3])#slicing rows without use of loc
print('\r')
print(df.loc[['b','d']])
print('\r')
print(df.loc['b':'d'])
print('\r')
print(df.iloc[[1,3]])
print('\r')
print(df.iloc[1:3])

   one  two
b  2.0    5
c  3.0    6

   one  two
b  2.0    5
d  NaN    7

   one  two
b  2.0    5
c  3.0    6
d  NaN    7

   one  two
b  2.0    5
d  NaN    7

   one  two
b  2.0    5
c  3.0    6

In [79]:
#other slicing
import pandas as pd
data1={'one':pd.Series([1,2,3],index=['a','b','c'],dtype=float),
     'two':pd.Series([4,5,6,7,8,3,0,5],index=['a','b','c','d','e','f','g','h'])}
df=pd.DataFrame(data1)
print(df)
df['three']=pd.Series([12,16,15,10,8,27,17], index=['a','b','d','e','f','g','h'])
print('\r')
print(df)
print('\r')
print(df.loc[:'b'])
print('\r')
print(df.loc[:'b','two'])
print('\r')
print(df.loc['d','two'])
print('\r')
print(df.loc['a':'g':2])
print('\r')
print(df.loc['e':])
print('\r')
print(df.loc['e':'h':2])#slicing from one row to another by stepping by 2

   one  two
a  1.0    4
b  2.0    5
c  3.0    6
d  NaN    7
e  NaN    8
f  NaN    3
g  NaN    0
h  NaN    5

   one  two  three
a  1.0    4   12.0
b  2.0    5   16.0
c  3.0    6    NaN
d  NaN    7   15.0
e  NaN    8   10.0
f  NaN    3    8.0
g  NaN    0   27.0
h  NaN    5   17.0

   one  two  three
a  1.0    4   12.0
b  2.0    5   16.0

a    4
b    5
Name: two, dtype: int64

7

   one  two  three
a  1.0    4   12.0
c  3.0    6    NaN
e  NaN    8   10.0
g  NaN    0   27.0

   one  two  three
e  NaN    8   10.0
f  NaN    3    8.0
g  NaN    0   27.0
h  NaN    5   17.0

   one  two  three
e  NaN    8   10.0
g  NaN    0   27.0

In [91]:
print(df.loc[['a','d','g'],['two','three']])
print('\r')
print(df.loc[['a','d','g'],'three'])
print('\r')
print(df.loc['a':'g',['one','three']])
print('\r')
print(df.loc[:'e','two':])#selecting a slice of rows and a slice of columns
print('\r')
print(df.loc[:,['one','three']])
print('\r')
print(df.loc[['a','d','g'],:])#selecting some rows and all columns. end colon can be skiped to give same results
print('\r')
print(df.loc[['a','d','g']])
rows=['a','d','e','g','h']#assigning rows selection to a variable
cols=['one','three']#assigning columns selection to a variable
print('\r')
print(df.loc[rows,cols])

   two  three
a    4   12.0
d    7   15.0
g    0   27.0

a    12.0
d    15.0
g    27.0
Name: three, dtype: float64

   one  three
a  1.0   12.0
b  2.0   16.0
c  3.0    NaN
d  NaN   15.0
e  NaN   10.0
f  NaN    8.0
g  NaN   27.0

   two  three
a    4   12.0
b    5   16.0
c    6    NaN
d    7   15.0
e    8   10.0

   one  three
a  1.0   12.0
b  2.0   16.0
c  3.0    NaN
d  NaN   15.0
e  NaN   10.0
f  NaN    8.0
g  NaN   27.0
h  NaN   17.0

   one  two  three
a  1.0    4   12.0
d  NaN    7   15.0
g  NaN    0   27.0

   one  two  three
a  1.0    4   12.0
d  NaN    7   15.0
g  NaN    0   27.0

   one  three
a  1.0   12.0
d  NaN   15.0
e  NaN   10.0
g  NaN   27.0
h  NaN   17.0

In [112]:
#iloc indexer
print(df.iloc[3])#selection of a single row all column as a Series
print('\r')
print(df.iloc[3,2])#selection of a single row,single column
print('\r')
print(df.iloc[[2,3,4,5]])
print('\r')
print(df.iloc[:4])
print('\r')
print(df.iloc[3:7])
print('\r')
print(df.iloc[4:])
print('\r')
print(df.iloc[4::2])#selecting 4th position to the end by stepping 2
print('\r')
print(df.iloc[[2,3,4,5],[1,2]])
print('\r')
print(df.iloc[2:7,0:2])
print('\r')
print(df.iloc[:,2])#selection of single column, all rows
print('\r')
print(df['three'])#selection of single column, all rows

one       NaN
two       7.0
three    15.0
Name: d, dtype: float64

15.0

   one  two  three
c  3.0    6    NaN
d  NaN    7   15.0
e  NaN    8   10.0
f  NaN    3    8.0

   one  two  three
a  1.0    4   12.0
b  2.0    5   16.0
c  3.0    6    NaN
d  NaN    7   15.0

   one  two  three
d  NaN    7   15.0
e  NaN    8   10.0
f  NaN    3    8.0
g  NaN    0   27.0

   one  two  three
e  NaN    8   10.0
f  NaN    3    8.0
g  NaN    0   27.0
h  NaN    5   17.0

   one  two  three
e  NaN    8   10.0
g  NaN    0   27.0

   two  three
c    6    NaN
d    7   15.0
e    8   10.0
f    3    8.0

   one  two
c  3.0    6
d  NaN    7
e  NaN    8
f  NaN    3
g  NaN    0

a    12.0
b    16.0
c     NaN
d    15.0
e    10.0
f     8.0
g    27.0
h    17.0
Name: three, dtype: float64

a    12.0
b    16.0
c     NaN
d    15.0
e    10.0
f     8.0
g    27.0
h    17.0
Name: three, dtype: float64

In [ ]:
#selecting subsets of Series